

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #55a4f6, #42f5a5);
  background-attachment: fixed;
  color: #333;
}


.services {
  text-align: center;
  padding: 60px 0;
}

.services-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 50%;
}

.service h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff; 
}

.service p {
  font-size: 18px;
  color: #ddd; 
}

footer {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer p {
  margin: 0;
  opacity: 0.8;
}


header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.logo span {
  color: #42f5a5;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

nav ul li a:hover {
  opacity: 1;
}

.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-thumb {
  background-color: #42f5a5; 
  border-radius: 5px; 
}

body::-webkit-scrollbar-track {
  background-color: #555; 
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #64ffda; 
}

body::-webkit-scrollbar-button {
  display: none; 
}





.services {
  text-align: center;
  padding: 60px 0;
}


.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.service-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 20px;
  max-width: 300px;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.service-card h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.service-card p {
  font-size: 18px;
  color: #ddd; 
}


.price {
  font-size: 24px;
  font-weight: 700;
  color: #42f5a5; 
}

.add-ons-title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 40px;
  color: #fff; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; 
  display: block; 
}
